{% extends 'base.html.twig' %}

{% block title %}Boutiquier{% endblock %}

{% block body %}
<h1> Accueil Boutiquier </h1>
<ul>
    <li><a href="{{ path('client.index') }}">Gestion des clients</a></li>
    {# <li><a href="{{ path('debt_request.index') }}">Gestion des demandes de dette</a></li> #}
    <li><a href="#">Gestion des demandes de dette</a></li>

</ul>
{% endblock %}
