{% extends 'base.html.twig' %}

{% block body %}
<h1> Client : {{client.surname}} </h1>
<ul>
    <li>Telephone : {{client.telephone}}</li>
    <li>Adresse : {{client.adresse}}</li>
</ul>
{% endblock %}